html{
  height: 100%;
  width: 100%
}

body{
  background-color: #8bd994;
}

h1{
  text-align: center;
  color: #487a4e;
  font-size: 60px;
}

.pfp{
  border-radius: 100%;
  display: block;
  margin: auto;
}

.level{
  color: #487a4e;
  text-align: center;
  font-size: 30px;
}

.planteds{
  color: #487a4e;
  text-align: center;
  font-size: 30px;
}

.buttons{
  text-align: center;
  margin: auto;
}

button{
  width: 20%;
  border-radius: 10px;
  border-color: #76ad7d;
  background-color: #76ad7d;
  color: #406645;
}

button:hover{
  background-color: #406645;
  color: #76ad7d;
}

.leaderboard{
  position: absolute;
  top: 50px;
  background-color: #bff5c6;
  border-radius: 15px;
  height: 75%;
  width: 25%;
  overflow: scroll;
}

.charities{
  position: absolute;
  top: 50px;
  background-color: #bff5c6;
  border-radius: 15px;
  height: 75%;
  right: 10px;
  width: 25%;
}

h3{
  text-align: center;
  color: #406645;
  font-size: 30px;
  text-decoration: underline;
}

li{
  color: #406645;
  font-size: 20px;
}

.progrsContainer{
  width: 50%;
  height: 20px;
  background-color: #b4fac7;
  margin: auto;
  border-radius: 10px;
}

h2{
  color: #406645;
}

.currentLvl{
  position: relative;
  left: 15%;
  bottom: 43px;
}

.nextLvl{
  position: relative;
  left: 80%;
  bottom: 90px;
}

.progrsBar{
  width: 0%;
  background-color: #406645;
  height: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 900px){
  .leaderboard{
    top: 700px;
    width: 48%;
  }
  .charities{
    top: 700px;
    width: 48%;
  }
  .currentLvl{
    left: 8%;
  }
}