<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TreeAssistant</title>
  <link href="/static/signin.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>TreeAssistant</h1>
  <h2>Let's heal the world, together</h2>
  <div class="flexbox">
    <div class="divs">
      <h2>Sign up</h2>
      <label for="username1">Username</label>
      <input name="username1" id="username1">
      <br>
      <br>
      <label for="password1">Password</label>
      <input name="password1" id="password1">
      <br>
      <br>
      <button id="signIn" onclick="sendSignIn()">Sign up</button>
    </div>
    <div class="divs">
      <h2>Log in</h2>
      <label for="username2">Username</label>
      <input name="username2" id="username2">
      <br>
      <br>
      <label for="password2">Password</label>
      <input type="password" name="password2" id="password2">
      <br>
      <br>
      <button id="signIn" onclick="sendLogIn()">Log in</button>
    </div>
  </div>
  <h3 id="errorMsg" class="errorMsg"></h3>
<script src="/static/scrpt.js"></script>
<script>
  
</script>
</body>

</html>